.wrap {
  display: flow-root;
  background: #c8e6c9;
  min-height: 100vh;
  //overflow: hidden;
}

.main {
  width: 1024px;
  margin: 50px auto;
  font-size: 40px;
  color: #fff;
  text-align: center;

  & > header {
    height: 80px;
    line-height: 80px;
    background: #2e7d32;
  }
  & > nav {
    height: 80px;
    line-height: 80px;
    background: #388e3c;
  }
  & > aside {
    float: left;
    width: 300px;
    height: 600px;
    line-height: 600px;
    background: #43a047;
  }
  & > p {
    float: left;
    width: 724px;
    height: 600px;
    line-height: 600px;
    background: #4caf50;
  }
  & > footer {
    float: left;
    width: 1024px;
    height: 80px;
    line-height: 80px;
    background: #66bb6a;
  }
}
